<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="{{template}}">
	{{> nav}}
    <div class="container">
        {{{ body }}}
    </div>
    <script src="js/index.js" type='module' ></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
{{> footer }}

</html>
