<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="{{template}}">
    <div class="container">
        <h1>als dit rood is de css goed gelinked</h1>
        {{{ body }}}
    </div>
    <script src="js/index.js"></script>
</body>
{{> footer }}

</html>