<div class="row">
	<section class="col m6 s12" id="analizer">
		<div class="row">
			{{> tile}}
			{{> tile}}
			{{> tile}}
			{{> tile}}
			{{> tile}}
			{{> tile}}
		</div>
	</section>
	<section class="col m6 s12" id="shifter">
		{{> table}}
		{{> table}}
	</section>
</div>
